.page-header__container {
  display: flex;
  align-items: center;

  border-bottom: 1px solid #ececec;
}




.page-header__nav{
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: $title-text-color;
}

.nav-list {
  display: flex;
  column-gap: 50px;
  color: $main-text-color;
}

.nav-list__link {
  padding-top: 32px;
  padding-bottom: 32px;
 

  &::after {
  content: '';
  
  height: 4px;
  background-color: $accent-color;
  border-radius: 2px;
}
}



.current {
  position: relative;
}

.current.nav-list__link::after {
  display: block;
 
  position: absolute;
  bottom: 0;
  width: 100%;
}

.contacts-list {
  display: flex;
  align-items: center;
  column-gap: 50px;

  margin-left: auto;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: $main-text-color;

  &:last-child {
      display: flex;
      align-items: center;
    }
}

.contacts-list__link {
  padding-top: 20px;
  padding-bottom: 20px;
}


.contacts-list__icon {
  fill: $main-text-color;
  margin-right: 10px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

