.logo {
    padding: 25px 0;
    margin-right: 95px;

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;

    color: $title-text-color;
}

.logo-color {
    color: $accent-color;
}

